<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<p class="marginTop">Welcome to my site! </p>
					<h1 class="marginTop">This is my HTML5 about page</h1>
					<p class="marginTop">My name is Cynthia Chineme, a student enrolled in the Business Information Technology at Seneca Polytechnic. My student ID is 130116239. I have a keen interest in web development and am passionate about learning the latest technologies and best practices in the field.</p>
					
					
					<!-- End your code here  -->



				</main>
			</div>